<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>

body{
   background-image: url('../static/img/stone.jpg');
   background-repeat: no-repeat;
   background-size: cover;
  
}

#bicycleContent{
   
  
   display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 10%;

  justify-content: space-evenly;
}

#butt{
   padding: 5%;
}


.img{
   width: 255px;
   height: 350px;
   
}



.Product{
   border: 8px solid black;
   margin: 5%;
   border-radius: 5px;
   
}

.Ptxt{
   display: flex;
  padding-left: 10%;
  justify-content: space-evenly;
   background-image: url('../static/img/BtnStone.jpg');
   background-repeat: no-repeat;
   background-size: cover;
  
}



    </style>

</head>
<body>



    

<div id="bicycleContent">
       


    <div class="Product">
        
        <img src="../static/img/actual-waterBike.jpeg.webp" alt="" class="img">
       
    
    <div class="Ptxt">
        <div class="ObjDSC"><p>Actual Water Bike</p></div>
        <div class="ObjDSC" ><p>12.99</p></div>
        <button class="btn1" id="butt"> Buy </button>
    </div>
    
    </div>
    

    <div class="Product">
        <img src="../static/img/black.jpg" alt="" class="img">
    <div class="Ptxt">
        <div class="ObjDSC"><p>Black bike</p></div>
        <div class="ObjDSC" class=""><p>12.99</p></div>
        <button class="btn2" id="butt"> Buy </button>
    </div>
    </div>


    <div class="Product">
        <img src="../static/img/download.jpg" alt="" class="img">
        <div class="Ptxt">
        <div class="ObjDSC"><p> Spider Bike </p></div>
        <div class="ObjDSC"><p>12.99</p></div>
        <button class="btn3" id="butt"> Buy </button>
    </div>
    </div>

    <div class="Product">
        <img src="../static/img/images.jpg" alt="" class="img">
        <div class="Ptxt">
        <div class="ObjDSC"><p> Blue bike </p></div>
        <div class="ObjDSC"><p>12.99</p></div>
        <button class="btn4" id="butt"> Buy </button>
    </div>
    </div>

    <div class="Product">
        <img src="../static/img/leanBike.jpg" alt="joe" class="img">
        <div class="Ptxt">
        <div class="ObjDSC"><p> Bike+ </p></div>
        <div class="ObjDSC"><p>12.99</p></div>
        <button class="btn5" id="butt"> Buy </button>
        </div>
    </div>

    <div class="Product">
        <img src="../static/img/motorBike.jpg" alt="" class="img">
        <div class="Ptxt">

        <div class="ObjDSC"><p> Motor Bike </p></div>
        <div class="ObjDSC"><p>12.99</p></div>
        <button class="btn6" id="butt"> Buy </button>
        
    </div>
    </div>

    <div class="Product">
        <img src="../static/img/sleekBike.jpg" alt="" class="img">
        <div class="Ptxt">
        
        <div class="ObjDSC"><p>  Geometric bike </p></div>
        <div class="ObjDSC"><p>12.99</p></div>
        <button class="btn7" id="butt"> Buy </button>

        </div>
    </div>

    <div class="Product">
        <img src="../static/img/waterM-bike.jpg" alt="" class="img">
        <div class="Ptxt">

        <div class="ObjDSC"><p>  Water bike  </p></div>
        <div class="ObjDSC"><p>12.99</p></div>
        <button class="btn8" id="butt"> Buy </button>
        </div>

    </div>

    <div class="Product">
        <img src="../static/img/wierdbike.jpg" alt="" class="img">
        <div class="Ptxt">

        <div class="ObjDSC"><p> steam bike </p></div>
        <div class="ObjDSC"><p>12.99</p></div>
        <button class="btn9" id="butt"> Buy </button>

        </div>
    </div>
 
    <div class="Product">
        

        <img src="../static/img/woodBike.jpg" alt="" class="img">

        <div class="Ptxt">

        
        <div class="ObjDSC"><p> wood bike </p></div>
        <div class="ObjDSC"><p>12.99</p></div>
        <button class="btn10" id="butt"> Buy </button>

        </div>
        
    </div>

</div>

</div>

<script>
    $(document).ready(function(){

    $('.btn1').on('click', function(e){
        e.preventDefault()
        $.get('/bike1Code',
        function(data){
        });
        return false;
    })

    $('.btn2').on('click', function(e){
        e.preventDefault()
        $.get('/bike2Code',
        function(data){
        });
        return false;
    })

    $('.btn3').on('click', function(e){
        e.preventDefault()
        $.get('/bike3Code',
        function(data){
        });
        return false;
    })

    $('.btn4').on('click', function(e){
        e.preventDefault()
        $.get('/bike4Code',
        function(data){
        });
        return false;
    })

    $('.btn5').on('click', function(e){
        e.preventDefault()
        $.get('/bike5Code',
        function(data){
        });
        return false;
    })

    $('.btn6').on('click', function(e){
        e.preventDefault()
        $.get('/bike6Code',
        function(data){
        });
        return false;
    })

    $('.btn7').on('click', function(e){
        e.preventDefault()
        $.get('/bike7Code',
        function(data){
        });
        return false;
    })

    $('.btn8').on('click', function(e){
        e.preventDefault()
        $.get('/bike8Code',
        function(data){
        });
        return false;
    })

    $('.btn9').on('click', function(e){
        e.preventDefault()
        $.get('/bike9Code',
        function(data){
        });
        return false;
    })

    $('.btn10').on('click', function(e){
        e.preventDefault()
        $.get('/bike10Code',
        function(data){
        });
        return false;
    })
})
</script>
</body>
</html>