<!DOCTYPE HTML>

<header>
    <link rel="stylesheet" href="Flask/static/login.css">
</header>
<body>
    <h1>Login</h1>
        <form class = form1 action = "http://localhost:5000/login" method = "POST">
            <label for="RUsername">Username: </label>
            <input type="text" id="Username" name ='nm'>
        <label for="Password">Password: </label>
        <input type="text" id="Password" name = 'pw'>
        <button type="submit" value="submit">Login</button>
     

    </form>
</body>


</html>