<!DOCTYPE HTML>

<header>
    <link rel="stylesheet" href="Flask/static/login.css">
</header>
<body>
    <h1>Login</h1>
        <form class = form1 action = "http://localhost:5000/login" method = "POST">

        <div>
            <label for="RUsername">Username: </label>
            <input type="text" id="RUsername" name ='nm'>
        </div>
        
        <div>
            <label for="REmail">Email: </label>
            <input type="text" id="REmail" name="eml">
        </div>
        
        <div>
            <label for="RName">Name: </label>
            <input type="text" id="RName" name ='nme'>
        </div>
    
        <div>
            <label for="RPassword">Password: </label>
        <input type="text" id="RPassword" name = 'pwR'>
        </div>

    </form>
</body>


</html>