
<body>

<link rel="stylesheet" href="BicyclePage.css">
    

<div id="bicycleContent">

       


    <div class="Product">
        <img src="../bycicle store/images/actual-waterBike.webp" alt="" class="img">
    <div class="Ptxt">
        <div class="ObjDSC"><p>WaterBike+</p></div>
        <div class="price"><p>12.99</p></div>
        <button class="btn"> Buy </button>
    </div>
    </div>

    <div class="Product">
        <img src="../bycicle store/images/black.jpg" alt="" class="img">
    <div class="Ptxt">
        <div class="ObjDSC"><p>Black bike</p></div>
        <div class="price"><p>12.99</p></div>
        <button class="btn"> Buy </button>
    </div>
    </div>


    <div class="Product">
        <img src="../bycicle store/images/download.jpg" alt="" class="img">
    <div class="Ptxt">
        <div class="ObjDSC"><p> Spider Bike </p></div>
        <div class="price"><p>12.99</p></div>
        <button class="btn"> Buy </button>
    </div>
    </div>

    <div class="Product">
        <img src="../bycicle store/images/images.jpg" alt="" class="img">
    <div class="Ptxt">
        <div class="ObjDSC"><p> Blue bike </p></div>
        <div class="price"><p>12.99</p></div>
        <button class="btn"> Buy </button>
    </div>
    </div>

    <div class="Product">
        <img src="../bycicle store/images/leanBike.jpg" alt="" class="img">
    <div class="Ptxt">
        <div class="ObjDSC"><p> Bike+ </p></div>
        <div class="price"><p>12.99</p></div>
        <button class="btn"> Buy </button>
    </div>
    </div>

    <div class="Product">
        <img src="../bycicle store/images/motorBike.jpg" alt="" class="img">
    <div class="Ptxt">
        <div class="ObjDSC"><p> Motor Bike </p></div>
        <div class="price"><p>12.99</p></div>
        <button class="btn"> Buy </button>
    </div>
    </div>

    <div class="Product">
        <img src="../bycicle store/images/sleekBike.jpg" alt="" class="img">
    <div class="Ptxt">
        <div class="ObjDSC"><p>  Geometric bike </p></div>
        <div class="price"><p>12.99</p></div>
        <button class="btn"> Buy </button>
    </div>
    </div>

    <div class="Product">
        <img src="../bycicle store/images/waterM-bike.jpg" alt="" class="img">
    <div class="Ptxt">
        <div class="ObjDSC"><p>  Water bike  </p></div>
        <div class="price"><p>12.99</p></div>
        <button class="btn"> Buy </button>
    </div>
    </div>

    <div class="Product">
        <img src="../bycicle store/images/wierdbike.jpg" alt="" class="img">
    <div class="Ptxt">
        <div class="ObjDSC"><p> steam bike </p></div>
        <div class="price"><p>12.99</p></div>
        <button class="btn"> Buy </button>
    </div>
    </div>
 
    <div class="Product">
        <img src="../bycicle store/images/woodBike.jpg" alt="" class="img">
    <div class="Ptxt">
        <div class="ObjDSC"><p> wood bike </p></div>
        <div class="price"><p>12.99</p></div>
        <button class="btn"> Buy </button>
    </div>
    </div>

</div>

</div>

</body>